<style>
  body {
    background-color: #F4F4F4;
  }
</style>


  <% if @saved_recipes.count == 0 %>
  <div class="row mx-auto text-center d-flex justify-content-center">
      <br><br>
    <h3 class="text-center mt-5"><i class="fas fa-exclamation"></i> &#8287 No results &#8287<i class="far fa-frown"></i> <br> <br>
      Try again with different ingredients!
    </h3>
  </div>
  <% end %>


  <div class="row mt-5 ml-3 mr-3">

    <% @saved_recipes.each do |recipe| %>

      <div class="col-lg-12 col-xl-6">
      <article class="postcard postcard-styling">
        <a class="postcard__img_link" href="<%=recipe_path(recipe.id)%>">
          <% if recipe.image.nil? %>
          <img class="postcard__img pr-4" src="<%= asset_path('food-404') %>" alt="Image Title" />
          <% else %>
          <img class="postcard__img pr-4" src="<%= recipe.image %>" alt="Image Title" />
          <% end %>
        </a>
        <div class="postcard_text_container" style="background-color:white" id="card-<%= recipe.id %>">
          <h1 class="postcard__title mt-4"><a href="<%=recipe_path(recipe.id)%>"
              style="color:black;text-decoration: none;"><%= recipe.title %></a></h1>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt mb-3" style="color:grey">
            <%= strip_tags(recipe.description.truncate_words(25)) %></div><br><br>
          <ul class="postcard__tagbox mb-3">
            <li class="tag__item"><i class="fas fa-clock mr-2"></i><%= recipe.prep_time %></li>
            <li class="tag__item"><i class="fas fa-star mr-2"></i><%= recipe.rating / 20 %></li>
            <% if recipe.difficulty_level.to_i > 45 %>
            <li class="tag__item"><i class="fas fa-cookie-bite mr-2"></i>Hard</li>
            <% elsif recipe.difficulty_level.to_i >= 25 && recipe.difficulty_level.to_i < 45 %>
            <li class="tag__item"><i class="fas fa-cookie-bite mr-2"></i>Medium</li>
            <% else %>
            <li class="tag__item"><i class="fas fa-cookie-bite mr-2"></i>Easy</li>
            <% end %>

       <% if !current_user.nil? %>
                                 <% if recipe.cookbooks.where(user: current_user).empty?  %>
                                      <%= simple_form_for :cookbooks, url: recipe_cookbooks_path(recipe.id, user_id: current_user), html: { "data-id": recipe.id, class: :selectable, :'data-type' => 'json' } do |f| %>
                                           <button type="submit" class="tag__item" id="button-<%= recipe.id %>">
                                             <li style="list-style-type: none"><i class="far fa-bookmark mr-2"></i><span  style="color:white">save</span></li>
                                            </button>
                                       <%end%>
                                 <% else %>
                                     <%= simple_form_for :cookbooks, url: recipe_cookbooks_path(recipe.id, user_id: current_user), html: { "data-id": recipe.id, class: :selectable, :'data-type' => 'json' } do |f| %>
                                           <button type="submit" class="tag__item" id="button-<%= recipe.id %>">
                                             <li style="list-style-type: none"><i class="far fa-bookmark mr-2"></i><span  style="color:black">saved</span></li>
                                            </button>
                                       <%end%>
                                 <% end %>
                  <% else %>
                  <a href="#" data-toggle="modal" data-target="#modalUp">  <li class="tag__item" style="color:black"><i class="fas fa-user-plus mr-2" ></i><span style="color:white">sign up</span></li> </a>

                <%end%>

          </ul>
        </div>
      </article>
    </div>

    <% end %>
  </div>
</div>