<div class="container w-50 p-5 bg-white border d-flex flex-column justify-content-center align-items-center">
  <h2 class="mb-5">Create your recipe!</h2>
  <%= simple_form_for @recipe do |f| %>

    <div>
      <%= f.input :title, label: "Title:"%><br />
    </div>

    <div>
      <%= f.input :image, label: "Image:"%><br />
    </div>

    <div>
      <%= f.input :serving_size, label: "Serving Size:"%><br />
    </div>

    <div>
      <%= f.input :prep_time, label: "Preparation Time:" %><br />
    </div>

    <div>
      <%= f.input :difficulty_level, label: "Difficulty Level:"%><br />
    </div>

    <div>
      <%= f.input :rating, label: "Rating:", step: :any%><br />
    </div>

    <div>
      <h3>Ingredients</h3>
      <div id="ingredients">
        <%= f.simple_fields_for :ingredients do |ingredient| %>
          <%= render 'ingredient_fields', f: ingredient  %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'add an ingredient', f, :ingredients %>
        </div>
      </div>
    </div>

    <div class="mt-3">
      <%= f.input :steps, label: "Cooking Insructions:"%><br />
    </div>

    <div>
      <%= f.input :description, label: "Nutritional Description:" %><br />
    </div>

    <div>
      <%= f.input :comment, label: 'Comment:' %><br />
    </div>

    <div >
      <%= f.submit class:"hijodeputa w-100" %>
    </div>

  <% end %>

</div>
