<div class="container d-flex flex-column justify-content-center align-items-center">
<%= form_for @recipe do |f| %>
  <div class="">
    <div class=" d-flex justify-content-end align-items-center mb-3">
      <p class="mr-3">Title:</p>
      <%= f.text_field :title %><br />
    </div>

    <div class="d-flex justify-content-end align-items-center mb-3">
       <p class="mr-3">Image:</p>
       <%= f.text_field :image%><br />
    </div>

    <div class="d-flex justify-content-end align-items-center mb-3">
      <p class="mr-3">Serving Size: </p>
      <%= f.text_field :serving_size%><br />
    </div>

    <div class="d-flex justify-content-end align-items-center mb-3">
      <p class="mr-3">Preparation Time:</p>
      <%= f.text_field :prep_time %><br />
    </div>

    <div class="d-flex justify-content-end align-items-center mb-3">
      <p class="mr-3">Difficulty Level:</p>
       <%= f.text_field :serving_size%><br />
    </div>

    <div class="d-flex justify-content-end align-items-center mb-3">
      <p class="mr-3"> Rating:</p>
      <%= f.number_field :rating, step: :any%><br />
    </div>

    <div class="d-flex justify-content-end align-items-center mb-3">
      <p class="mr-3"> Description:</p>
      <%= f.text_area :description %><br /></div>
    </div>

    <div class="d-flex justify-content-end align-items-center mb-3">
      <p class="mr-3">Comment:</p>
       <%= f.text_area :description %><br />
    </div>

  </div>

  <div class="d-flex justify-content-center align-items-center mb-3">
    <%= f.submit %>
  </div>

<% end %>

</div>
