
  <div class="recipe-wrapper">

    <div class="title-bookmark">
      <div class="r-title">
        <h1> <%= @recipe.title %> </h1>
      </div>
      <div>
       <% if @recipe.cookbooks.where(user: current_user).empty?  %>
         <%= link_to recipe_cookbooks_path(@recipe.id, user_id: current_user), method: :post do %>
          <li class="tag__item" style="color:black;font-size: 35px;list-style-type:none"><i class="far fa-bookmark mr-2" ></i></li>
          <%end%>
        <% else %>
        <%= link_to cookbook_path(@recipe.cookbooks.where(user: current_user).first), method: :delete do %>
          <li class="tag__item" style="font-size: 35px;list-style-type:none"><i class="fas fa-bookmark mr-2"></i></li>
        <%end%>
         <% end %>
       
      </div>
    </div>

    <div class="stars-reviews">
      <i class="far fa-star" style="font-size: 20px"></i>
      <i class="far fa-star" style="font-size: 20px"></i>
      <i class="far fa-star" style="font-size: 20px"></i>
      <i class="far fa-star" style="font-size: 20px"></i>
      <i class="far fa-star" style="font-size: 20px"></i>
    </div>          

    <div class="d-flex info-card">
      <div class="left-container">
        <div class="r-img">
          <img src="<%= @recipe.image %>" alt="image" class="w-100 img-fluid">
        </div>
      </div>    
      <div class="right-container">
        <h2 style="text-align: center">Ingredients</h2>
        <div class="r-ingredients"style="text-align: left; list-style:none">
          
            <ul>
              <p>
                <% @recipe.recipe_ingredients.each do |recipe_ingredient| %> 
                  <li> <strong> <%=  recipe_ingredient.ingredient.name.capitalize %> :</strong> &nbsp  <%= recipe_ingredient.amount %></li>
                <% end %>
              </p>
            </ul>
        </div>

        <div class="specs-recipe">
          <div class="r-spec ">
            <i class="far fa-clock" style="font-size: 30px"></i>
            <p> 
              <%= @recipe.prep_time %> 
            </p>
          </div>

          <div class="r-spec">
            <i class="fas fa-tachometer-alt" style="font-size: 30px"></i>
            <p> 
              <%= @recipe.difficulty_level %>
            </p>
          </div>

          <div class="r-spec">
            <i class="fas fa-user" style="font-size: 30px"></i>
            <p> 
              <%= @recipe.serving_size %>
            </p>
          </div>
        </div>
      </div>
    </div>

        <div class="recipe-steps">
          <h2>Lets do it!</h2>
          <p> <%= @recipe.description.html_safe %> </p>
        </div>
  </div>

