<style>

a {
   text-decoration:none;
   color: inherit;
}
</style>
  <div class="container" id="advanced-search">
   <div class="searchindex bg-white w-100 d-flex justify-content-around p-2" style="width: 75%">
        <div class="mic" id="voice-recognition">
          <i id="microphone" class="fas fa-microphone btn"></i>
        </div>
        <div class="input-bar w-75">
          <%= form_tag recipes_path, method: :get do %>
          <%= text_field_tag :query, '', class: "form-control border border-white rounded w-100 mr-0 pr-0",  id:"SpeechToText",
               placeholder: "What's in your fridge?", required: true %>
        </div>
        <div class="s-button">
          <%= submit_tag "Search",  class: "btn btn btn-dark rounded-pill",  id: "formButton" %>
          <% end %>
        </div>
        <div class="hijodeputa mr-2">
          <%= link_to "Advance Search", recipes_api_call_path(query: params[:query])  %>
        </div>
    </div>
  </div>

<div class="recipe-wrapper mx-auto" style="width: 1280">

  <div class="title-bookmark">
    <div class="r-title">
      <h1> <%= @recipe.title %> </h1>
    </div>
    <div>

    <% if !current_user.nil? %>
    <% if @recipe.cookbooks.where(user: current_user).empty?  %>
      <%= simple_form_for :cookbooks, url: recipe_cookbooks_path(@recipe.id, user_id: current_user), html: { "data-id": @recipe.id, class: :selectable, :'data-type' => 'json' } do |f| %>
        <a type="submit" class="tag__item" id="button-<%= @recipe.id %>">
      <li class="tag__item" style="color:black;font-size: 35px;list-style-type:none; color: inherit;"><i class="far fa-bookmark mr-2" style="color: inherit;" ></i></li>
        </a>
    <%end%>
    <% else %>
    <%= simple_form_for :cookbooks, url: recipe_cookbooks_path(@recipe.id, user_id: current_user), html: { "data-id": @recipe.id, class: :selectable, :'data-type' => 'json' } do |f| %>
      <a type="submit" class="tag__item" id="button-<%= @recipe.id %>">
    <li class="tag__item" style="font-size: 35px;list-style-type:none;text-decoration: none"><i class="fas fa-bookmark mr-2"></i></li>
      </a>
    <%end%>
    <% end %>
    <% end %>
    </div>
  </div>

  <div class="rating-wrapper">
    <% if !current_user.nil? %>
    <% if  Rating.where(user_id: current_user, recipe_id: @recipe.id).empty? %>
    <div class="stars-reviews">
      My rating&nbsp; <%= simple_form_for([@recipe, @rating], html: { class: "review_form" }) do |f| %>
      <%= f.input :rating, collection: (1..5).to_a, label: false %>
      <% end %>
    </div>

    <% else %>
    <p>Thanks for rating this recipe!</p>
    <% end %>
    <% else %>
    <p>Login or signup to rate this recipe</p>
    <% end %>


      <div id="thisrating" data-rating="<%= @recipe.rating %>">
      <div class="align-items-center">
        <p>
           <p class="mb-3">Global rating</p>
          <select class="br-widget" id="diplay-rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </p>
      </div>
    </div>
  </div>


  <div class="d-flex info-card">
    <div class="left-container">
      <div class="r-img">
        <% if @recipe.image.nil? %>
        <img src="<%= asset_path('food-404') %>" alt="image" class="w-100 img-fluid">
        <% else %>
        <img src="<%= @recipe.image %>" alt="image" class="w-100 img-fluid">
        <% end %>
      </div>
    </div>
      <div class="right-container">
        <h2 style="text-align: center">Ingredients</h2>
        <div class="r-ingredients"style="text-align: left; list-style:none">

            <ul>
              <p>
                <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>

                  <li> <strong> <%=  recipe_ingredient.ingredient.name.capitalize %> :</strong> &nbsp  <%= recipe_ingredient.amount %></li>
                <% end %>
              </p>
            </ul>
        </div>

        <div class="specs-recipe">
          <div class="r-spec ">
            <i class="far fas-show fa-clock" style="font-size: 30px"></i>
            <p>
              <%= @recipe.prep_time %>
            </p>
          </div>

          <div class="r-spec">
            <i class="fas fas-show fa-tachometer-alt" style="font-size: 30px"></i>
            <% if @recipe.difficulty_level.to_i >= 45 %>
            <p> Hard </p>
            <% elsif @recipe.difficulty_level.to_i >= 20 && @recipe.difficulty_level.to_i < 45 %>
            <p> Meduim </p>
            <% else %>
            <p> Easy </p>
            <% end %>
          </div>

          <div class="r-spec">
            <i class="fas fas-show fa-user" style="font-size: 30px"></i>
            <p>
              <%= @recipe.serving_size %>
            </p>

          </div>

        </div>
    </div>
  </div>

    <div class="recipe-steps">
     <h2>Recipe: step by step</h2>
      <p>
        <%=@recipe.steps.html_safe  %>
      </p>
    </div>

    <div class="recipe-steps">
      <h2>Delicious and nutritious</h2>
        <p>
          <%= @recipe.description.html_safe %>
        </p>
    </div>
    </div>
  </div>
