<style>

a {
   text-decoration:none;
   color: inherit;
}
</style>
  <div class="container" id="advanced-search">
   <div class="searchindex bg-white w-100 d-flex justify-content-around p-2" style="width: 75%">
        <div class="mic" id="voice-recognition">
          <i id="microphone" class="fas fa-microphone btn"></i>
        </div>
        <div class="input-bar w-75">
          <%= form_tag recipes_path, method: :get do %>
          <%= text_field_tag :query, '', class: "form-control border border-white rounded w-100 mr-0 pr-0",  id:"SpeechToText",
               placeholder: "What's in your fridge?", required: true %>
        </div>
        <div class="hijodeputa w-25">
          <%= link_to "Advanced Search", recipes_api_call_path(query: params[:query])  %>
        </div>
        <div class="s-button">
          <%= submit_tag "Search",  class: "btn btn btn-dark rounded-pill",  id: "formButton" %>
          <% end %>
        </div>
    </div>
  </div>


<div class="recipe-wrapper mx-auto" >

 <div class="container-fluid mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= @recipe.image %>'); background-size: cover; border-radius: 30px 30px 0px 0px; ">

            <div class="row d-flex justify-content-end">
            

              <% if !current_user.nil? %>
              <% if @recipe.cookbooks.where(user: current_user).empty?  %>
                <%= simple_form_for :cookbooks, url: recipe_cookbooks_path(@recipe.id, user_id: current_user), html: { "data-id": @recipe.id, class: :selectable, :'data-type' => 'json' } do |f| %>
                  <a type="submit" class="tag__item" id="button-<%= @recipe.id %>">
                <li class="tag__item m-4" style="color:black;font-size: 35px;list-style-type:none; color: inherit;"><i class="far fa-bookmark mr-2" style="color: inherit;" ></i></li>
                  </a>
              <%end%>
              <% else %>
              <%= simple_form_for :cookbooks, url: recipe_cookbooks_path(@recipe.id, user_id: current_user), html: { "data-id": @recipe.id, class: :selectable, :'data-type' => 'json' } do |f| %>
                <a type="submit" class="tag__item" id="button-<%= @recipe.id %>">
               <li class="tag__item m-4" style="color:black;font-size: 35px;list-style-type:none; color: inherit;"><i class="far fa-bookmark mr-2" style="color: inherit;" ></i></li>
                </a>
              <%end%>
              <% end %>
              <% end %>
            </div>


                    <div class="row d-flex justify-content-center">
                        <h1 style="color:white"><b> <%= @recipe.title %> </b></h1>
                    </div>

                    <div class="row d-flex justify-content-around mt-5">
            

  <div class="rating-wrapper">
    <% if !current_user.nil? %>
    <% if  Rating.where(user_id: current_user, recipe_id: @recipe.id).empty? %>
    
     <span style="color:white">My rating</span>&nbsp; <%= simple_form_for([@recipe, @rating], html: { class: "review_form" }) do |f| %><br>
      <%= f.input :rating, collection: (1..5).to_a, label: false %>
      <% end %>
   

    <% else %>
    <p>Thanks for rating this recipe!</p>
    <% end %>
    <% else %>
    <p>Login or signup to rate this recipe</p>
    <% end %>

</div>
<div class="rating-wrapper">
      <div id="thisrating" data-rating="<%= @recipe.rating %>">
      <div class="align-items-center">
           <p style="margin: 0px; color:white" class="text-center">Global rating</p>
          <select class="br-widget" id="diplay-rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
      </div>
    </div>
  </div>
            
                </div></div>
<div class="container-fluid px-0">
                <div class="d-flex info-card">
                  <div class="left-container mr-4"  style="background-color: #BDA06A; border-radius: 0px 0px 30px 30px">
                    <% if @recipe.steps %>
    <div class="recipe-steps">
     <h2>Recipe: step by step</h2>
      <p>
          <%=@recipe.steps.html_safe  %>
      </p>
    </div>
  <% end %>

                  </div>
                    <div class="right-container">
                      <h2 style="text-align: center">Ingredients</h2>
                      <div class="r-ingredients"style="text-align: left; list-style:none">
              
                          <ul>
                            <p>
                              <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
              
                                <li> <strong> <%=  recipe_ingredient.ingredient.name.capitalize %> :</strong> &nbsp  <%= recipe_ingredient.amount %></li>
                              <% end %>
                            </p>
                          </ul>
                      </div>
              
                      <div class="specs-recipe">
                        <div class="r-spec ">
                          <i class="far fas-show fa-clock" style="font-size: 30px"></i>
                          <p>
                            <%= @recipe.prep_time %>
                          </p>
                        </div>
              
                        <div class="r-spec">
                          <i class="fas fas-show fa-tachometer-alt" style="font-size: 30px"></i>
                          <% if @recipe.difficulty_level.to_i >= 45 %>
                          <p> Hard </p>
                          <% elsif @recipe.difficulty_level.to_i >= 20 && @recipe.difficulty_level.to_i < 45 %>
                          <p> Meduim </p>
                          <% else %>
                          <p> Easy </p>
                          <% end %>
                        </div>
              
                        <div class="r-spec">
                          <i class="fas fas-show fa-user" style="font-size: 30px"></i>
                          <p>
                            <%= @recipe.serving_size %>
                          </p>
              
                        </div>
              
                      </div>
                  </div>
                </div>

                    <div class="recipe-steps" style="background-color:white; border-radius:20px">
      <h2>Delicious and nutritious</h2>
        <p>
          <%= @recipe.description.html_safe %>
        </p>
    </div>
</div></div>





