
<h1> <%= @recipe.title %> </h1>

<h2> <%= @recipe.comment %> </h2>
<h2> <%= @recipe.prep_time %> </h2>

<h2> <%= @recipe.serving_size %> </h2>
<h2> <%= @recipe.rating %> </h2>
<h2> <%= @recipe.difficulty_level %> </h2>
<br>

<img src="<%= @recipe.image %>" alt="image" class="w-100 img-fluid">

