<div class="container-fluid r-wrapper">

<div class="r-info-card">
  <div class="r-title">
    <h1> <%= @recipe.title %> </h1>
  </div>

  <div class="r-comment">
    <h2> <%= @recipe.comment %> </h2>
  </div>

  <div class="p-time">
    <h2> <%= @recipe.prep_time %> </h2>
  </div>

  <div class="r-serving">
    <h2> <%= @recipe.serving_size %> </h2>
  </div>
</div>

  <div class="r-rating">
  <h2> <%= @recipe.rating %> </h2>
  </div>

  <div class="r-difficulty">
  <h2> <%= @recipe.difficulty_level %> </h2>
  </div>

  <div class="r-img">
  <img src="<%= @recipe.image %>" alt="image" class="w-100 img-fluid">
  </div>

</div>
