<div class="container r-wrapper">


<div class="title-bookmark">
  <div class="r-title">
    <h1> <%= @recipe.title %> </h1>
  </div>
<i class="far fa-bookmark" style="font-size: 35px"></i>
</div>


<div class="d-flex info-card">
  <div class="left-container">
    <div class="r-img">
    <img src="<%= @recipe.image %>" alt="image" class="w-100 img-fluid">
    </div>
  </div>

  <div class="right-container">
    <div class="r-ingredients"style="text-align: center; list-style:none">
    <h2>Ingredients</h2>
    <ul>
      <p> <% @recipe.recipe_ingredients.each do |ingredient| %> 
        <li> <%=  Ingredient.find(ingredient.amount) %></li>
        <li> <%=  Ingredient.find(ingredient.id).name %></li>
      <% end %>
    </ul>
      </p>
    </div>

    <div class="r-serving">
      <p> <%= @recipe.serving_size %> </p>
    </div>


    <div class="specs-recipe">
      <div class="r-time"><i class="far fa-clock"></i>
        <p> <%= @recipe.prep_time %> </p>
      </div>

      <div class="r-diff"><i class="fas fa-tachometer-alt"></i>
        <p> <%= @recipe.difficulty_level %> </p>
      </div>

      <div class="r-rat">Rating
        <p> <%= @recipe.rating %> </p>
      </div>
    </div>
  </div>

</div>

    <div class="recipe-steps">
    <h2>Lets do it!</h2>
      <p> <%= @recipe.description %> </p>
    </div>


</div>

