<style>
    body {
        background-color: #F4F4F4;
    }
</style>
<div class="container-fluid mb-5">
    <div class="row ml-4">
        <h1> My Recipes </h1><br>
    </div>
    <% if @cookbooks.count == 0 %>
    <div class="row mx-auto text-center d-flex justify-content-center">
        <br><br>
        <h3 class="text-center">You have not added any recipe in your favorites yet!<br><br>
            Click on <i class="far fa-bookmark mr-2"></i> to add one</h3>
    </div>
    <% end %>

    <div class="row mt-5">
        <% @cookbooks.each do |cookbook| %>
        <div class="col-sm-12 col-md-6">
            <article class="postcard postcard-styling">
                <%= link_to recipe_path(cookbook.recipe_id), class: "postcard__img_link" do %>
                <img class="postcard__img pr-4" src="<%= Recipe.find(cookbook.recipe_id).image %>" alt="Image Title" />
                <% end %>


                            <div class="postcard_text_container" style="background-color:white">
                                <h1 class="postcard__title mt-4"><a href="<%=recipe_path (cookbook.recipe_id)%>" style="color:black;text-decoration: none;"><%= Recipe.find(cookbook.recipe_id).title %></a></h1>
                                <div class="postcard__bar"></div>
                                <% @descrip = Recipe.find(cookbook.recipe_id).description.truncate_words(25) %>
                                <div class="postcard__preview-txt mb-3" style="color:grey"><%= strip_tags(@descrip) %></div
                                ><br><br>
                                <ul class="postcard__tagbox mb-3">
                                            <li class="tag__item"><i class="fas fa-clock mr-2"></i><%= Recipe.find(cookbook.recipe_id).prep_time %></li>
                                            <li class="tag__item"><i class="fas fa-star mr-2"></i><%= (Recipe.find(cookbook.recipe_id).rating)/20 %> / 5</li>
                                            <% if Recipe.find(cookbook.recipe_id).difficulty_level.to_i >= 45 %>
                                            <li class="tag__item"><i class="fas fa-cookie-bite mr-2"></i>Hard</li>
                                            <% elsif Recipe.find(cookbook.recipe_id).difficulty_level.to_i >= 20 && Recipe.find(cookbook.recipe_id).difficulty_level.to_i < 45 %>
                                            <li class="tag__item"><i class="fas fa-cookie-bite mr-2"></i>Medium</li>
                                            <% else %>
                                            <li class="tag__item"><i class="fas fa-cookie-bite mr-2"></i>Easy</li>
                                            <% end %>
                 
                                     <%= simple_form_for :cookbooks, url: recipe_cookbooks_path(cookbook.recipe_id, user_id: current_user), html: { "data-id": cookbook.recipe_id, class: :selectable, :'data-type' => 'json' } do |f| %>
                                           <button type="submit" class="tag__item" id="button-<%= cookbook.recipe_id %>">
                                             <li style="list-style-type: none"><i class="far fa-bookmark mr-2"></i><span  style="color:black">remove</span></li>
                                            </button>
                                       <%end%>


                    </ul>
                </div>
            </article>
        </div>
        <% end %>
    </div>
</div>